body
{
    background: linear-gradient(to bottom, aquamarine, white);
    background-repeat: no-repeat;
}
table
{
    background-color:white;
    border-collapse:collapse;
    border-color:black;
    width:65%
    /*animation: brrr 1ms infinite;*/
}
th
{
    background-color:black;
    color:white;
}
td,th
{
    padding:10px;
}
.bigman
{
    font-size:135%;
}
.hour
{
    width:1%;
    text-align:center;
}
@keyframes brrr
{
    0%{transform:translate(1px,1px)}
    10%{transform:translate(-1px,2px)}
    20%{transform:translate(2px,-2px)}
    30%{transform:translate(3px,-3px)}
    40%{transform:translate(1px,-1px)}
    50%{transform:translate(-1px,-1px)}
    60%{transform:translate(-3px,1px)}
    70%{transform:translate(1px,3px)}
    80%{transform:translate(0px,1px)}
    90%{transform:translate(1px,2px)}
    100%{transform:translate(0px,-1px)}
}