@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --bg-color: #18a691;
    --primary-gold: #eb9f11;
}

body{
    background-color: var(--bg-color);
    font-family: sans-serif;
}

.rejillaApuestas{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    gap: 1rem;
    padding: 2rem;
}

.celda-rejilla{
    background:white;
    padding:1rem;
    border-radius:8px;
    text-align:center;
    border: 1px solid #ccc;
}

.puntero{
    font-size:150%;
}